@charset "UTF-8";

/* fonte importada do google fontes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* fonte interna do programa */
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/*root - subclasse que armazena variáveis globais*/
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

/* Criando configuração global para os elementos */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    /* Comando para inserir gradiente */
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    /* Comando para menor altura */
    min-height: 150px;
    /* Comando para centalizar textos */
    text-align: center;
    /* Comando para descolar o h1 da margem do cabeçalho */
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* Comando para mudar de cor ao passar omouse */
nav a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
}

main {
    /* Comandos para responsividade */
    min-width: 280px;
    max-width: 1000px;
    /* Comando para centralizar imagens */
    margin: auto;
    /* Comando para configurar borda inferior */
    margin-bottom: 30px;

    /* Comando para afastar o conteúdo das bordas */
    padding: 20px;
    /* Comando para sombrear */
    box-shadow: 0px 0px 10px black;
    /* Comando para cor de fundo */
    background-color: white;
    /* Comando para arredondar as bordas */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img {
    /* Comandos para responsividade das imagens */
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 7px;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;

    padding-bottom: 40%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    /*Comando para alterar altura entre as linhas*/
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    background-color: yellow;
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
}

aside {
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
}

aside > ul {
    /*Comando para colocar os marcadores para dentro*/
    list-style-position: inside;
    columns: 2;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}